.intro {
	padding-top: 150px;
}

.title-wrapper {
	display: flex;
	align-items: flex-end;
	gap: 11px;
}

.title-wrapper p {
	margin-bottom: 8px;

	text-wrap: balance;
	max-width: 190px;
	font-size: 16px;
	line-height: 110%;
}

.cards {
	display: flex;
	gap: 20px;

	margin-top: 36px;
}

.card {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 25px;
	aspect-ratio: 315/221;

	background: var(--foreground);

	border-radius: 20px;
}

.card-title {
	font-size: 20px;
	line-height: 140%;
	font-weight: 400;
	text-wrap: balance;
}

.footer {
	display: grid;
	grid-template-columns: 6fr 7fr;
	align-items: end;
	gap: 10px;

	margin-top: 50px;
}

.call {
	padding: 30px;
	border-radius: 20px;

	background: var(--accent);
}

.call-title {
	max-width: 345px;

	border-radius: 20px;

	font-size: 30px;
	font-weight: 500;
	text-wrap: balance;
	line-height: 120%;
	color: var(--accent-text);
	letter-spacing: -1px;
}

.button-wrapper {
	display: flex;
	align-items: center;
	gap: 14px;

	margin-top: 45px;
}

.button-wrapper img {
}

.call-button {
	padding: 15px 30px;
	border-radius: 40px;

	font-size: 18px;
	font-weight: 500;

	background: var(--accent-text);
	color: var(--accent);
}

.call-button:hover {
	opacity: var(--hover-opacity);
}

.smile-wrapper {
	transform: rotate(-15deg);
	width: 60px;
	aspect-ratio: 60/66;
}

.smile-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

.image {
	position: relative;
	bottom: -12px;
	left: 5px;

	max-width: 693px;
	height: 225px;

	border-radius: 20px;

	background: var(--foreground);

	transform: rotate(1deg);
}

.image img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 1351px) {
	.intro {
		padding-top: 100px;
	}

	.cards {
		margin-top: 40px;
	}

	.card-title {
		font-size: 18px;
	}
}

@media screen and (max-width: 992px) {
	.intro {
		padding-top: 68px;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 28px;
	}

	.card {
		aspect-ratio: auto;
	}

	.card-title {
		margin-top: 16px;
	}

	.call-title {
		font-size: 24px;
	}

	.button-wrapper {
		position: relative;
	}

	.call-button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.smile-wrapper {
		position: absolute;
		top: -33px;
		right: 0;
	}

	.footer {
		display: flex;
		flex-direction: column-reverse;
		gap: 44px;

		margin-top: 75px;
	}

	.footer > * {
		width: 100%;
	}

	.image {
		left: 0;
	}
}

@media screen and (max-width: 768px) {
	.title-wrapper {
		flex-wrap: wrap;
		gap: 6px;
	}
	.title-wrapper p {
		font-size: 12px;
	}
}

@media screen and (max-width: 576px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}

	.card {
		padding: 20px;
	}

	.call {
		padding: 20px;
	}
}
