.benefits-wrapper {
	padding-top: 140px;
}

.benefits {
	position: relative;
}

.top {
	position: relative;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.card {
	margin-top: 100px;
	padding: 30px;
	background: var(--foreground);
	border-radius: 20px;
}

.card-text {
	margin-top: 24px;
	font-size: 20px;
	line-height: 140%;
}

@media screen and (max-width: 1200px) {
	.flex {
		flex-direction: column-reverse;
		gap: 20px;
	}
}

@media screen and (max-width: 768px) {
	.card {
		margin-top: 60px;
	}

	.img-wrapper {
		display: none;
	}
}