.end-banner-wrapper {
	padding-top: 157px;
}

.end-banner {
	position: relative;

	padding: 50px;
	border-radius: 20px;

	background: var(--accent);
}

.title {
	font-size: 80px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1px;

	color: var(--accent-text);
}

.subtitle {
	max-width: 380px;
	margin-top: 25px;

	font-size: 20px;
	line-height: 140%;

	color: var(--accent-text);
}

.btn {
	display: inline-block;
	margin-top: 74px;
	padding: 10px 20px;
	border-radius: 50px;

	font-size: 18px;
	font-weight: 500;
	letter-spacing: -1px;

	background: var(--accent-text);
	color: var(--accent);
}

.btn:hover {
	opacity: var(--hover-opacity);
}

.img-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 795px;
	height: 548px;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}

@media screen and (max-width: 1351px) {
	.end-banner-wrapper {
		padding-top: 100px;
	}

	.img-wrapper {
		width: 733px;
		height: 505px;
	}
}

@media screen and (max-width: 1200px) {
	.end-banner {
		height: 586px;
	}

	.btn {
		margin-top: 44px;
	}
}

@media screen and (max-width: 992px) {
	.end-banner-wrapper {
		padding-top: 68px;
	}

	.end-banner {
		height: 553px;
	}

	.img-wrapper {
		width: 570px;
		height: 392px;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 60px;
	}

	.end-banner {
		height: 638px;
	}
}

@media screen and (max-width: 576px) {
	.title {
		font-size: 40px;
	}

	.end-banner {
		padding: 30px;
		height: clamp(29rem, 19rem + 44.44vw, 35rem);
	}

	.img-wrapper {
		aspect-ratio: 570 / 392;
		width: 100%;
		height: auto;
	}
}
